/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}

body {
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 80%;
}

.space{
    height: 250px;
}
/*
 * Header
 */
.masthead {
        
        color:black;
  margin-bottom: 2rem;
    background-color: white;
    position: absolute;
    z-index: 1000000;
    width: 100%;
    left: 0;
    top: 0;
  
}
.masthead img {
    width: 8%;
}

.masthead-brand {
  text-align:center;
}

.back{float:left;}

@media (min-width: 48em) {
  .masthead-brand {

  }
}

.back {
    margin: auto 20px;
    
}
/*
 * Cover
 */
.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

.window .row button{
        margin:5px 5px;
        width: 100%;
}

.col-sm{
        padding-top:3px;
}

.window{
        display:none;
}

#map-info{
        height: 60%;
}

#map{
        height: 415px;
}

#info{
  color: black;
  background-color: white;
  overflow: scroll;
   height: 415px;
}

/* Statistics */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#stats{
  height:500px;
  overflow:scroll;
}
.statistics {
    background-color: #333;
    text-align:left;
}
.statTitle {
    color: white;
    text-align: left;
    padding-left: 10px;
}
.submission {
    display: inline-block;
    color: white;
    font-size: 1.2em;
}
.the_data {
    color: white;
    text-align: left;
    padding-left: 10px;
}
.data_collection{
    color: white;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
}
table, th, td {
   /* border: 1px solid white; */
}
table {
    width: 50%;
}

th {
    height: 50px;
}
td {
    height: 30px;
    vertical-align: bottom;
}
th, td {
    padding-left: 8px;
    text-align: left;
}
tr:hover {background-color: darkgray;}
tr:nth-child(even) {background-color: #f2f2f2; color:black;}
